WebAppAgregacionNumerales/WebAppAgregacionNumerales/Connected Services/perfiles/PerfilesUsuario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://banrep.gov.co/s3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://banrep.gov.co/s3">
  <xsd:element name="s3">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:datosPeticion" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="datosPeticion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" name="aplicacion">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="100" />
              <xsd:minLength value="1" />
              <xsd:pattern value=".*[^\s].*" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="1" name="usuario">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="100" />
              <xsd:minLength value="1" />
              <xsd:pattern value=".*[^\s].*" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>