WebAppAgregacionNumerales/WebAppAgregacionNumerales/Connected Services/perfiles/PerfilesUsuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://banrep.gov.co/s3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://banrep.gov.co/s3">
  <xsd:element name="JavaException" type="tns:JavaExceptionType" />
  <xsd:complexType name="JavaExceptionType">
    <xsd:sequence>
      <xsd:element name="Type" type="xsd:string" />
      <xsd:element name="Message" type="xsd:string" />
      <xsd:element name="Trace" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xs:schema>