WebAppAgregacionNumerales/WebAppAgregacionNumerales/Connected Services/perfiles/PerfilesUsuario1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://banrep.gov.co/s3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://banrep.gov.co/s3">
  <xsd:element name="perfil" type="xsd:string" />
  <xsd:element name="codigo" type="xsd:string" />
  <xsd:element name="descripcion" type="xsd:string" />
  <xsd:element name="datosRespuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:perfil" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="respuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:codigo" />
        <xsd:element ref="tns:descripcion" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="s3Response">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="tns:datosRespuesta" />
        <xsd:element ref="tns:respuesta" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>