WebAppAgregacionNumerales/WebAppAgregacionNumerales/Connected Services/MenuS3/DemeMenu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://banrep.gov.co/s3" targetNamespace="http://banrep.gov.co/s3" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AdministradorMenuException" type="tns:AdministradorMenuException" />
  <xs:element name="consultarMenuPerfil" type="tns:consultarMenuPerfil" />
  <xs:element name="consultarMenuPerfilResponse" type="tns:consultarMenuPerfilResponse" />
  <xs:complexType name="consultarMenuPerfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" type="tns:peticionConsultarMenuPerfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="peticionConsultarMenuPerfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:menuRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="menuRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:mensajeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="aplicacion" type="xs:string" />
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mensajeBase">
    <xs:sequence>
      <xs:element name="codigoRespuesta" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idMensaje" type="xs:string" />
      <xs:element minOccurs="0" name="operacion" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarMenuPerfilResponse">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="return" type="tns:respuestaConsultarMenuPerfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respuestaConsultarMenuPerfil">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:mensajeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="menu" type="tns:menuElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="menuElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="idPadre" type="xs:long" />
      <xs:element minOccurs="0" name="isItem" type="xs:boolean" />
      <xs:element minOccurs="0" name="level" type="xs:int" />
      <xs:element minOccurs="0" name="link" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="menu" nillable="true" type="tns:menuElement" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="orden" type="xs:int" />
      <xs:element minOccurs="0" name="path" type="xs:string" />
      <xs:element minOccurs="0" name="texto" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdministradorMenuException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>